<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopSync"
        tools:targetApi="31">
        <activity
            android:name=".frontend.activities.ForgotPasswordActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".frontend.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration Activity -->
        <activity
            android:name=".frontend.activities.RegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.MainActivity" />
        </activity>

        <!-- Sign-in Activity -->
        <activity
            android:name=".frontend.activities.SignInActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.MainActivity" />
        </activity>

        <!-- My Shop Syncs Activity -->
        <activity
            android:name=".frontend.activities.MyShopSyncsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.MyAccountActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.MainActivity" />
        </activity>

        <!-- Create Shop Sync Activity -->
        <activity
            android:name=".frontend.activities.CreateShopSyncActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.MyShopSyncsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.MyShopSyncsActivity" />
        </activity>

        <!-- Shop Sync Activity -->
        <activity
            android:name=".frontend.activities.ShopSyncActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.MyShopSyncsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.MyShopSyncsActivity" />
        </activity>

        <!-- Edit Shop Sync Activity -->
        <activity
            android:name=".frontend.activities.EditShopSyncActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.ShopSyncActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.ShopSyncActivity" />
        </activity>

        <!-- Settle the Cost Activity -->
        <activity
            android:name=".frontend.activities.SettleTheCostActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.ShopSyncActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.ShopSyncActivity" />
        </activity>

        <!-- My Account Activity -->
        <activity
            android:name=".frontend.activities.MyAccountActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.MainActivity" />
        </activity>

        <!-- Change Password Activity -->
        <activity
            android:name=".frontend.activities.ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".frontend.activities.MyAccountActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uga.cs.shopsync.frontend.activities.MyAccountActivity" />
        </activity>
    </application>

</manifest>